* {
  margin: 0;
  padding: 0;
  font-family: 'Newsreader', serif;
  box-sizing: border-box;
}

ul {
  text-decoration: none;
}

li {
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
}

/* *************************************navbar******************************************** */

.header {
  background-image: url("image/fullsetup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #2d2d2d;
}

.logo {
  width: 120px;
  height: 80px;
}

.navtitle:hover {
  color: #2d2d2d;
}

.navmenu {
  font-size: 17px;
}

.navmenu li {
  padding-right: 50px;
}

.nav-link:hover {
  color: #C60021;
}

.loginbtn {
  background-color: #cf334d;
  color: #fff;
  border-radius: 15px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.loginbtn:hover {
  background-color: #2E4053;
}

/* *************************************navbar******************************************** */


/* *********************************herocontent******************************************** */
.hero1 {
  margin-top: 170px;
  margin-bottom: 60px;
}

.head1 {
  color: #2d2d2d;
}

.head2 {
  color: #C60021;
}

.homepgcol {
  border: 2px groove #fff;
}

.btnsign {
  background-color: #cf334d;
  border-radius: 15px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.btnsign:hover {
  background-color: #2d2d2d;
}

/* ********************************herocontent****************************************** */


/* ********************************tutlib****************************************** */
.tutlib {
  margin-top: 100px;
  background-color: rgb(233, 223, 223);
}

.cp1 {
  font-weight: 600;
  font-size: large;
}

.card:hover {
  background-color: #cf334d;
  color: #fff !important;
}

/* ********************************tutlib****************************************** */


/* ********************************course****************************************** */
.outer {
  background-color: #cf334d;
  min-height: 300px;
  margin-top: 60px;
}

.rowheight {
  background-color: #fff;
  height: 130px;
}

/* ********************************course****************************************** */


/* ********************************foot****************************************** */
.foot {
  background-color: #2d2d2d;
  color: #fff;
  margin-top: 60px;
}

.foothead {
  font-size: large;
  font-weight: bold;
}

.foot ul li a:hover {
  color: rgb(255, 53, 2);
}

/* ********************************foot****************************************** */





/* *************************************responsive******************************************** */

/* @media (max-width: 992px) {
  .btnsign {
    margin-top: 10px;
    margin-left: 40%;
  }
} */

@media (min-width:10px) {

  .head1 {
    font-size: 2rem;
  }

  .head2 {
    font-size: 1.5rem;
  }
}

@media (min-width:544px) {

  .head1 {
    font-size: 2.5rem;
  }

  .head2 {
    font-size: 2rem;
  }

}

@media (min-width:768px) {

  .head1 {
    font-size: 2.5rem;
  }

  .head2 {
    font-size: 2rem;
  }
}

@media (min-width:992px) {

  .head1 {
    font-size: 3rem;
  }

  .head2 {
    font-size: 2rem;
  }
}

@media (min-width:1200px) {

  .head1 {
    font-size: 3.5rem;
  }

  .head2 {
    font-size: 2.5rem;
  }
}

@media (max-width:992px) {
  .nav-item {
    display: flex;
    justify-content: center;
  }
}

@media (max-width:420px) {
  .navtitle {
    font-size: 1.3rem !important;
  }
}

@media (max-width:367px) {
  .navtitle {
    font-size: 1rem !important;
  }

  .logo {
    width: 95px;
    height: 70px;
  }
}


/* *************************************responsive******************************************** */